[required_option]
CDS_path = test.cds.fa
Group_information = test.groupinfo
Output_directory = Results

[statistical_option]
Hcluster_method = all
preferred_method_order = average,median,complete,ward.D,single

[kaks_cal_option]
genetic_code = 1
method = MYN

[PRANK_option]
iteration = 5
sleep_time = 10

[program_path]
perl = perl
kaks = /home/programs/KaKs_Calculator2.0/src/KaKs_Calculator
R = Rscript

[Result]
result_filename = result_table_all
temp_path = temp_files

[Thread]
thread_num = 100
